article {
	margin: 0 auto;
	width: 422px;
	height: 558px;
	background-color: #eeeeee;
	border-radius: 6px 6px 6px 6px;
}

.table1 {
	width: 400px;
	height: 126px;
	background-color: white;
	margin-left: 11px;
	border: 1px solid #a8a8a8;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 13.2px;
}

.position {
	margin-left: 168px;
    margin-top: -114px;
}

.rt1 {
	padding: 14px 14px 16px;
}

.rt2 {
	padding: 5px 0px 3px 0px;
}

#buttons {
	margin-left: 240px;
    margin-top: -3px;
}

.b1 {
	color: white;
    margin-left: 265px;
    margin-top: -29px;
    width: 37px;
}

.b2 {
	color: white;
    margin-left: 345px;
    margin-top: -30px;
    width: 37px;
}

#buttons2 {
	margin-left: 240px;
    margin-top: -3px;
}

#buttons3 {
	margin-left: 240px;
    margin-top: -11px;
}

#title p {
	margin: 13px 0 0 15px;
    padding-bottom: 38px;
    padding-top: 15px;
	font-size: 15px;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

.op {
	width: 200px;
}

.op2 {
	width: 208px;
}

.position3 {
	margin-left: 168px;
    margin-top: -114px;
	width: 222px;
}
